<!DOCTYPE html>
<html lang="en">
<!-- Head -->
<%- include('./partials/head.ejs') %>
<body>
    <!-- Header and Nav -->
    <%- include('partials/headerNav.ejs') %>
    <main>
        <section class="menu-main-heading">
            <h1>Our Menu</h1>
        </section>
        <div class="container p15">
            <% for(category of menuItemsByCategory) { %>
            <div class="menu-cat">
                <h2 class="menu-cat__heading"><%= category.category %></h2>
                <div class="menu-cat__menu-items">
                    <% for(menuItem of category.menuItems) { %>
                    <div 
                    class="menu-item"
                    data-name="<%= menuItem.name %>"
                    data-description="<%= menuItem.description %>"
                    data-img="<%= menuItem.image %>"
                    >
                        <div class="menu-item__img-container">
                            <img class="menu-item__img" src="/img/menu_items/<%= menuItem.image %>" alt="<%= menuItem.name %>">
                        </div>
                        <div class="menu-item__name">
                            <%= menuItem.name %>
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
            <% } %>
        </div>
        <div class="modal">
            <div class="modal__content">
                <img class="modal__img"/>
                <h3 class="modal__item-name"></h3>
                <p class="modal__item-desc"></p>
            </div>
        </div>
    </main>
    <!-- Footer -->
    <%- include('./partials/footer.ejs') %>
    <script src="/js/navToggle.js"></script>
    <script>
        const menuItems = document.querySelectorAll('.menu-item');
        const modal = document.querySelector('.modal');
        const modalContent = document.querySelector('.modal__content');
        const modalImg = document.querySelector('.modal__img');
        const itemName = document.querySelector('.modal__item-name');
        const itemDesc = document.querySelector('.modal__item-desc');

        for(let menuItem of menuItems){

            menuItem.addEventListener('click', () => {

                modalImg.src = `/img/menu_items/${menuItem.getAttribute('data-img')}`;
                itemName.innerText = menuItem.getAttribute('data-name');
                itemDesc.innerText = menuItem.getAttribute('data-description');
                modal.style.display = 'flex';


            });


        }

        modal.addEventListener('click', () => {
            modal.style.display = 'none';
        });

        modalContent.addEventListener('click', e => {
            e.stopImmediatePropagation();
        });

    
    </script>
</body>
</html>